@model HomePageViewModel

@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center">
    
</div>

<div class="container px-4 px-lg-5 mt-5">
    <div class="row  gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        @foreach (var item in Model.Urunler)
        {
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://cdn.myikas.com/images/00b6c111-71dc-4400-932f-8db87e5da64c/cdc7329f-7cda-451b-a4d3-c40b0937af22/image_720.webp" alt="...">
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">@item.Marka @item.Formu @item.Aromasi</h5>
                            <!-- Product price-->
                            @item.Fiyat$
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/Urun/@item.Id">Sepete ekle</a></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

